@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.head {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2e2e2e;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.head.active {
  background-color: black;
}

.head_body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.head_logo {
  font-size: 32px;
  color: white;
}

.head_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head_nav .head_items {
  margin-left: 15px;
  color: white;
  font-size: 16px;
}

.head_burger {
  display: none;
  background: url(https://c0.klipartz.com/pngpicture/517/126/gratis-png-cafe-hamburguesa-boton-menu-computadora-iconos-menu.png);
  background-size: 100% 100%;
  background-color: inherit;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.head_burger:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 750px) {
  .head_nav {
    display: none;
  }
  .head_burger {
    display: block;
  }
}

@media (min-width: 751px) {
  .burger_menu {
    display: none;
  }
}

.head_burger.active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.burger_menu {
  margin-top: 80px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.burger_menu .head_items {
  color: white;
  font-size: 32px;
  padding: 20px 15px;
}

.burger_menu.active {
  opacity: 1;
  visibility: visible;
}

.main_body {
  height: 500px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_calc {
  width: 250px;
  height: 400px;
  background-color: #2b94a1;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

.calc_input {
  width: 100%;
  height: 100px;
}

.calc_input textarea {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 10px;
  resize: none;
}

.calc_numbers {
  -moz-user-select: none;
  height: 100%;
  max-height: 250px;
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 18px;
}

.call_number {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.number_numbers {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  gap: 1rem;
}

.calc_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: calc((100% / 3) - 1rem);
      -ms-flex: calc((100% / 3) - 1rem);
          flex: calc((100% / 3) - 1rem);
}

.call_operation {
  width: 25%;
  color: #2b94a1;
  background-color: #e4e4e4;
  height: 100%;
}

.call_operation .calc_item {
  width: 100%;
  height: 20%;
}

.number_operation {
  width: 100%;
  color: #2b94a1;
  height: 25%;
  background-color: #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.number_clear {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.number_back {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.calc_items {
  height: 40%;
  background-color: #724141;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */